@charset "utf-8";
.Footer {
    background-color: #C00002;
    list-style-position: outside;
    list-style-type: katakana;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    color: #FFFFFF;
}
